@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bubblegum+Sans&family=Gabriela&family=Megrim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  background-color: #04032E;
  font-family: 'Alata', 'sans-serif';
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
